#arrow6{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* display:none; */
    /* rotate 180 */
    transform: rotate(180deg);
  }
  
  #arrow7{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* display:none; */
    /* rotate 180 */
    transform: rotate(180deg);
  }

  .tutorial-arrow{
    width: 40px;
}

.audio{
  display:none;
}
