#arrow6{
  position: relative;
  left: 40%;
  top:40%;
  display:block;
  }
  
  #arrow7{
    position: relative;
    /* move inside flexbox */
    left: 40%;
    top:40%;
    display:block;
    /* rotate 180 */
  }
   #arrow8{
    position: relative;
    /* move inside flexbox */
    left: 40%;
    top:40%;
    display:block;
    /* rotate 180 */
  }

.clickme{
  /* bold */
  /* light red */ 

  font-weight: bold;
  z-index: 9999;
  position: relative;
  left: 0%;
  top:10%;
}

  .tutorial-arrow{
    width: 40px;
}

.audio{
  display:none;
}
