#hero{
    height: 85vh;
    background-image: url(assets/Marta_Skins.png);

    background-repeat:no-repeat;
    width:100%;
    background-size: 100%;
    background-position-y: center;
    
    display:flex;
    justify-content:center;
    align-items:center;
}
#storytitle{
    text-align:center;
    margin-bottom: 20px;
    padding-top: 110px;
}

#aboutthegame{
    font-family: 'Chelsea Market', cursive;
    font-size: 80px;
    color: white;
    text-align:center;
}

#storysection{
    height: 500px;
    margin-top: -100px;
    background-image: url("assets/aboutus-background.png");
    background-repeat:no-repeat;
    background-size: 110% 500px ;
    background-position: -100px center;
}

#story{
    font-size: 24px;
    margin: 50px 150px 0px 150px;
    
}

.left-arrow{
    width: 20px;
}
.right-arrow{
    width: 20px;
}
#characters-title{
    font-size: 72px;
    padding-top: 100px;
}

.character-background{
    width: 500px;
    height: 270px;
    background-color: #FFE491;
    border: #6D1E15 solid 3px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position:relative;
    margin-right: 72px;
}

.characterimage{
    position: absolute;
    left:30;
    bottom: -20;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap: 30px;
}

#characters-title{
    text-align:center;
}

.character{
    width: 100vw;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-right:72px;
    margin-top: 216px;
}
.character-info{
    width: 40%;
}

#charactersection{
    margin-bottom: 216px;
    
}
