#arrow1 {
    position: absolute;
    left: 180px;
  }
  #arrow2 {
    position: absolute;
    left: 270px;
  }
  #arrow3 {
    position: absolute;
    left: 390px;
  }
  #arrow4 {
    position: absolute;
    left: 520px;
  }
  #arrow5 {
    position: absolute;
    left: 610px;
  }
  
  #circle{
    position:absolute;
    top: -10px;
    left: 90vw;
      width:150px;
      z-index: 99;
      display:none;
  }