



#hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap: 20px;
    background-image: url(assets/homeimage.jpeg);
    background-repeat:no-repeat;
    background-size: 100%;
    border-bottom-right-radius: 100% 40%;
  border-bottom-left-radius: 100% 40%;
    height: 95vh;
    border-bottom: black solid 2px;
    background-position:center;
    z-index: 10;
}

#container{
    height: 100vh;
}


#header{
    background-color: rgb(0,0,0,0);
    border-color: rgb(0,0,0,0);
}

#header a{
    color: #F0E5D3;
}

#header a:hover{
    color: #FFE491;
}

#container{
    height:fit-content;
}
#missioncontent{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
   background-color: #FFE491;
   padding-top: 100px;
   padding-bottom: 100px;
   margin-bottom: 100px;
   border-bottom-right-radius: 25%;
   border-bottom: #6D1E15 3px solid;
}

#hero-background{
    background-color: #FFE491;
}
.title{
    text-align:center;
    margin-bottom: 30px;
}

.description{
    text-align:center;
    margin-left: 72px;
    margin-right: 72px;
    font-size:24px;
}

#learnmore{
    margin-top: 60px;
    background-color: #334B29;
    color:#F0E5D3;
}

#about-learnmore{
    margin-top: 60px;
    background-color: #FFE491;
    color:#334B29;
    border-color: #334B29;
}

#aboutsection{
    margin-bottom: 200px;
    margin-top: 0px;
}

@media screen and (max-width: 1000px) {
    #hero{
        background-size: 150%;
    }
    

}