

.arrowdiv{
    top:100vh;
}

.tutorial-arrow{
    width: 40px;
}

#tutorialbutton{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100px;
    width:100px;
    background-color: #FFE491;
    color: black;
    border-radius: 50%;
    border: black 2px solid;
    position:fixed;
    bottom: 5;
    left: 5;
}


.audio{
    display:none;
}

.circle{
    position: absolute;
    opacity: 1;
}

#learncircle{
    width: 300px;
    top: 0px;
}

#arrowteam{
    position: fixed;
    top: 110px;
    left: 600px;
}

#arrowdownload{
    position: fixed;
    top: 110px;
    left: 1200px;
}

#teamcircle{
    top: -110px;
    left: 300px;
    width: 800px;
}