body{
    position: relative;
}

.content{
    padding: 50px;
    padding-top: 150px;
}

.pictures{
    margin-top: -10px;
    margin-left: 25%;
    margin-right: 25%;
    height: 600px;
    width: 50%;
}

.item_description{
    font-family: 'Chelsea Market', cursive;
    font-size: 24px;
    color: #334B29;
}

.item_description em{
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}